.topnav {
    background-color: var(--backcolor);
    overflow: hidden;
    padding-right: 30px;
    margin-top: 30px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color:  black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-radius: 15px;
    background-color: var(--third-color);
    color: white;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    border-radius: 15px;

    background-color: var( --accent-color);
    color: white;
  }

  .logo {
    margin-left: 60px;
    margin-top: 5px;
    width: 60px ;
    height: 60px ;
    align-self: left;
  }